<nav>
    <a>Home</a>
    <a>Beantrage</a>
    <a>Konto</a>
    <a (click)="loggout()">Ausloggen</a>
</nav>
<div class="introduction" *ngIf="isUser">
    <h2>Zahnbonus Beantragen</h2>
    <p>Der Zahnbonus ist ein zusätzliches Programm zu unserem normalen Bonusprogramm.
        Im Zahnbonusprogramm können Sie als Kunde weitere Prämien in Form von Geldleistungen sammeln.
        Um diese Prämien zu erhalten, müssen Sie Leistungen in Bezug auf den Zahnarzt nachweisen,
        dies wäre zum Beispiel die jährliche Zahnkontrolle.
        Scannen Sie das Dokument ab, um die erbrachte Leistung nachzuweisen.</p>
</div>
<div class="document-upload" *ngIf="isUser">
    <label for="upload">Nachweise Hochladen</label>
    <input id="upload" type="file" (change)="onFileSelected($event)">
    <button (click)="uploadFile()" [disabled]="!isOverAge">Upload</button>
    <p *ngIf="!isOverAge">Sie müssen um ein Zahnbonus zu beantragen über 16 sein</p>
</div>
<div class="document-selection" *ngIf="isAdmin">
    <ul>
        <li *ngFor="let document of listOfDocuments">
            <p>{{document.path}}</p>
            <p>{{document.status}}</p>
            <button (click)="openDocument(document.requestId)">Öffnen</button>
            <button (click)="acceptDocument(document.requestId)">Genehmigen</button>
            <button (click)="rejectDocument(document.requestId)">Ablehnen</button>
        </li>
    </ul>
</div>
