<div class="document-upload" *ngIf="isUser">
    <label for="upload">Nachweise Hochladen</label>
    <input id="upload" type="file" (change)="onFileSelected($event)">
    <button (click)="uploadFile()" [disabled]="!isOverAge">Upload</button>
    <p *ngIf="!isOverAge">Sie müssen um ein Zahnbonus zu beantragen über 16 sein</p>
</div>
<div class="document-selection" *ngIf="isAdmin">
    <ul>
        <li *ngFor="let document of listOfDocuments">
            <p>{{document.path}}</p>
            <p>{{document.status}}</p>
            <button (click)="openDocument(document.requestId)">Öffnen</button>
        </li>
    </ul>
</div>
